@import "tailwindcss";

@keyframes slideDown {
  0% {
    opacity: 0.2;
    transform: translateY(-28px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flowDownContinuous {
  0% {
    transform: translateY(-33.33333%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-slide-down {
  animation: slideDown 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-vertical-flow {
  animation: flowDownContinuous 22s linear infinite;
}

.animate-vertical-flow:hover {
  animation-play-state: paused !important;
}

